@import '../../styles/theme.less';

.card {
  .card(24rpx);
}

.grid {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 25%;
    .flex(column, center, center);
    padding: 16rpx 0 16rpx;
    box-sizing: border-box;
  }

  &__icon {
    width: 48rpx;
    height: 48rpx;
  }

  &__label {
    padding-top: 16rpx;
    .font(24rpx, 32rpx);
  }
}
