@import '../../styles/theme.less';

page {
  height: 100vh;
  .flex(column, stretch, flex-start);
}

.scrollarea {
  flex: 1;
  overflow-y: hidden;
}

.log-item {
  margin-top: 20rpx;
  text-align: center;

  &:last-child {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
