.card {
  width: 686rpx;
  height: 290rpx;
  background: #FFFFFF;
  border-radius: 24rpx;
  box-shadow: 0 4rpx 16rpx 0 rgba(0, 0, 0, 0.02);
  padding: 32rpx;
  box-sizing: border-box;
}

.row {
  display: flex;
  align-items: center;
  padding-bottom: 32rpx;
  box-sizing: border-box;
}

.cell {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rpx;
}

.icon {
  width: 32rpx;
  height: 32rpx;
}

.text {
  font-family: "PingFang SC";
  font-weight: 400;
  font-size: 28rpx;
  line-height: 48rpx;
  color: #374151;
}

.count {
  font-family: "PingFang SC";
  font-weight: 400;
  font-size: 28rpx;
  line-height: 56rpx;
  color: #374151;
}

.divider-v {
  width: 2rpx;
  height: 32rpx;
  background: #E9E9E9;
}

.divider-h {
  width: 100%;
  height: 2rpx;
  background: #F3F4F6;
}
