@import '../../styles/theme.less';

.card {
  .card(32rpx);
  height: 290rpx;
}

.row {
  .flex(row, center, flex-start);
  padding-bottom: 32rpx;
  box-sizing: border-box;
}

.cell {
  flex: 1;
  .flex(row, center, center);
  gap: 8rpx;
}

.icon {
  width: 32rpx;
  height: 32rpx;
}

.text {
  .font(28rpx, 48rpx, 400, #374151);
}

.count {
  .font(28rpx, 56rpx, 400, #374151);
}

.divider-v {
  width: 2rpx;
  height: 32rpx;
  background: #e9e9e9;
}

.divider-h {
  width: 100%;
  height: 2rpx;
  background: @color-divider;
}
