/**index.less**/
@import "../../styles/theme.less";

page {
  height: 100vh;
  .flex(column, stretch, flex-start);
}

.scrollarea {
  flex: 1;
  overflow-y: hidden;
}

.userinfo {
  .flex(column, center, flex-start);
  color: @color-text-muted;
  width: 80%;

  &-avatar {
    overflow: hidden;
    width: 128rpx;
    height: 128rpx;
    margin: 20rpx;
    border-radius: 50%;
  }
}

.usermotto {
  margin-top: 200px;
}

.avatar-wrapper {
  padding: 0;
  width: 56px !important;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.avatar {
  display: block;
  width: 56px;
  height: 56px;
}

.nickname-wrapper {
  display: flex;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  .hairline-border-top();
  .hairline-border-bottom();
  color: @color-text;
}

.nickname-label {
  width: 105px;
}

.nickname-input {
  flex: 1;
}
