@import '../../styles/theme.less';

.page {
  min-height: 100vh;
  .flex(column, stretch, flex-start);
  background: @color-page-bg;
}

.header {
  position: relative;
  padding-bottom: 24rpx;

  &-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 350rpx;
    background: linear-gradient(225deg, rgba(255, 229, 212, 1) 3%, rgba(255, 255, 255, 0) 45%);
  }
}

.content {
  flex: 1;
  padding: 0 @space-page-x;
  .safe-bottom(160rpx);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24rpx;
}
