/**app.wxss**/
@import "./styles/theme.less";

.container {
  height: 100%;
  .flex(column, center, space-between);
  padding: @space-container-y 0;
  box-sizing: border-box;
} 

view, scroll-view {
  box-sizing: border-box;
}
