@import "../../styles/theme.less";

.tabbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: @color-surface;
  border-top: 1px solid @color-border;
  z-index: 50;

  &__inner {
    .flex(row, center, space-between);
    gap: 102rpx;
    padding: 32rpx 50rpx;
    .safe-bottom(32rpx);
    box-sizing: border-box;
  }

  &__item {
    .flex(column, center, center);
    gap: 8rpx;
    width: 96rpx;

    &.is-active {
      .tabbar__label {
        font-weight: 600;
        color: @color-accent;
      }
    }
  }

  &__icon {
    width: 48rpx;
    height: 48rpx;
  }

  &__label {
    font-family: Poppins;
    font-size: 24rpx;
    line-height: 32rpx;
    color: @color-text-tertiary;
  }
}
